/*-- scss:defaults --*/

$body-bg: #272935;
$body-color: #98A6AD;
$link-color: #2dc6d6;
$presentation-heading-color: #2dc6d6;
$code-color: #2dc6d6;
$code-block-bg: #444758;
$code-block-border-color: #000000;

/*-- scss:rules --*/

#title-slide {

 text-align: left;
 background-image: url("https://raw.githubusercontent.com/jwarz/presentations/main/quarto/images/logo.svg");
 background-position: right bottom; /*Positioning*/
 background-size: 10em auto;
 background-repeat: no-repeat; /*Prevent showing multiple background images*/


 box-shadow: 0 0 0 100vmax $body-bg;
 clip-path: inset(-100vmax -100vmax); 


}

#title-slide .institute {
  font-style: italic;
  font-size: 80%;
}

#title-slide .author {
  color: $link-color;
}

#title-slide p.author::before {
  content: "";
  display: block;
  border: none;
  background-color: $body-color;
  color: $body-color;
  height: 3px;
  margin-bottom: 1em;
}

/*
#title-slide p, #title-slide a {
  color: #7F7F7F;
}
*/
.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  color: #98A6AD;
  font-size: 0.35em !important;
  /*text-align: right !important;*/
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: unset !important;
  left: 10px !important;
  top: 10px !important;
  color: $body-color !important;
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}
