/*-- scss:defaults --*/

$body-bg: #272935;
$body-color: #98A6AD;
$link-color: #2dc6d6;
$presentation-heading-color: #2dc6d6;
$code-color: #2dc6d6;
$code-block-bg: #444758;
$code-block-border-color: #000000;

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  color: #98A6AD;
  font-size: 0.35em !important;
  /*text-align: right !important;*/
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 120px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}
